<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" id="main" data-theme="dark" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/pico.min.css}" href="../static/css/pico.min.css">
  <link rel="stylesheet" th:href="@{/css/login.css}" href="../static/css/login.css">
  <title>Log in</title>
</head>

<body>

<nav class="container">
  <ul>
    <li><strong style="font-size: 1.5rem;">Admin</strong></li>
    <li><a id="play" th:href="@{/home}" href="" role="button" class="contrast outline">Home</a></li>
  </ul>
</nav>

<main class="container">
  <section class="login" id="login">
    <h3>Log in</h3>
    <form th:action="@{/login}" method="post">
      <label for="username" th:if="${param.error}" onload="fieldError(username)"></label>
      <input type="text" name="username" id="username" placeholder="Username" aria-invalid="none" required >

      <label for="password"></label>
      <input type="password" name="password" id="password" placeholder="Password" aria-invalid="none" required>

      <div th:if="${param.error}" style="color: red">
        The Name or Password is incorrect!
      </div>

      <button type="submit" value="Login" role="button" class="contrast outline">Login</button>
    </form>
  </section>
</main>
<!--    <footer class="container">-->
<!--        <label for="switch" class=""></label>-->
<!--        <input onclick="switchTheme()" id="switch" type="checkbox" name="switch" role="switch" checked>Dark-->
<!--    </footer>-->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>